* {
    box-sizing: border-box;
}
body {
    background-color: rgb(74, 143, 199);
}
summary {
    list-style: none;
}
summary::-webkit-details-marker {
    display: none;
}

.wrapper {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}

.item {
    max-width: 420px;
    box-shadow: 0 0 12px 4px rgba(0,0,0.4);
    margin: 20px auto;
    border: 1px solid #000000;
    
}
.accradion1 {
    max-width: 420px;
    box-shadow: 0 0 12px 4px rgba(0,0,0.4);
    margin: 20px auto;
    border: 1px solid #000000;
    
}


.text {
    background-color: #27212136 ;
    color:  #000;
    font-weight: bold;
    font-size: 16px;
    
    cursor: pointer;
    padding: 10px 15px ;
}


.image {
    padding: 10px;
}

.tittle {
    text-align: center;
    width: 100%;
    font-size: 28px; 
    transition: .3s all;
    outline: none;
    
    position: relative;
}

.tittle:hover {
    background-color: #27212119 ;
    
}

    @media (max-width:1200) {
        .wrapper{
        max-width: 1180px;
        }
    }
    @media (max-width:819) {
        .wrapper{
        max-width: 800px;
        }
    }
    @media (max-width:319) {
        .wrapper{
        max-width: 315px;
        }
        .image {
            max-width: 150px;
            max-height: 200px;
        }
    }